body{
    background-color: #79AC78;
}
img{
    position: relative;
    border-radius: 17px;
    left: -25px;
    height: 500px !important;
    width: 500px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#signbut{
    border-radius: 17px !important;
    width: 110px;
}
#datedes{
    width: 50%;
    background-color: azure;
}
.signupform{
    min-height: 500px !important;
    min-width: 800px !important;
    background-color: azure;
    border-radius: 17px;
    margin-top: 100px !important;
}
#formboxdes{
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0px;
    background-color: azure;
}